[Unit]
Description=Nomad
Documentation=https://nomadproject.io/docs/
Wants=network-online.target
After=network-online.target
Wants=consul.service
After=consul.service
Wants=consul-template.service
After=consul-template.service

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d
KillMode=control-group
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=always
RestartSec=30
StartLimitInterval=300
StartLimitBurst=9
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
