[Unit]
Description=Inject nomad config
After=network.target
[Service]
Type=oneshot
ExecStart=/etc/nomad.d/inject-conf.sh
Restart=on-failure
RemainAfterExit=true
StandardOutput=journal
RestartSec=10
StartLimitInterval=10
StartLimitBurst=10

[Install]
WantedBy=multi-user.target