[Unit]
Description="Promtail"
Documentation=https://grafana.com/docs/loki/latest/clients/promtail/
Requires=network-online.target
After=network-online.target

[Service]
KillSignal=SIGKILL
ExecStart=/usr/bin/consul-template -config=/etc/promtail.d/consul-template/exec.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
User=root
Group=root
LimitNOFILE=65536
Restart=always
RestartSec=10
StartLimitInterval=3600
StartLimitBurst=300
[Install]
WantedBy=multi-user.target