#!/bin/bash
export VAULT_ADDR=https://vault.online.ntnu.no:8200

if VAULT_TOKEN=$(vault login -method {{ cloud_provider }} -token-only role={{ consul_template_vault_role }}); then
    export VAULT_TOKEN

    echo "Vault login successful"

    /usr/bin/consul-template -config=/etc/consul_template.d
else
    echo "Vault login failed... "
    exit 1
fi
