[Unit]
Description=Inject vault config
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/vault.d/inject-conf.sh
Restart=on-failure
RemainAfterExit=true
StandardOutput=journal
RestartSec=3
StartLimitInterval=10
StartLimitBurst=10

[Install]
WantedBy=multi-user.target