#jinja2:variable_start_string:'[%', variable_end_string:'%]', trim_blocks: False
data_dir = "/opt/nomad"
bind_addr = "0.0.0.0"

datacenter = "[% nomad_datacenter %]"
name = "{{ env "NOMAD_NODE_NAME" }}"

leave_on_terminate = true

server {
  enabled          = true
  bootstrap_expect = [% nomad_bootstrap_expect %]
  encrypt = "{{ with secret "secret/data/consul/encrypt" }}{{ .Data.data.key }}{{ end }}"
}

tls {
  http = true
  rpc  = true

  ca_file   = "/etc/nomad.d/ca.crt"
  cert_file = "/etc/nomad.d/agent.crt"
  key_file  = "/etc/nomad.d/agent.key"

  verify_server_hostname = true
  verify_https_client    = true
}

consul {
  token = "{{ with secret "secret/data/consul/acl/nomad-server" }}{{ .Data.data.token }}{{ end }}"
}

acl {
  enabled = true
  token_ttl = "30s"
  policy_ttl = "60s"
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

vault {
  enabled          = true
  tls_skip_verify  = true
  token            = "{{ env "VAULT_TOKEN" }}"

  address          = "https://vault.service.consul:8200"
  create_from_role = "nomad-cluster"
}