[Unit]
Description="Prometheus node exporter"
Documentation=https://prometheus.io/docs/guides/node-exporter/
Requires=network-online.target
After=network-online.target

[Service]
KillSignal=SIGKILL
ExecStart=/usr/bin/node-exporter
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
User=root
Group=root
LimitNOFILE=65536
Restart=always
RestartSec=10
StartLimitInterval=3600
StartLimitBurst=300
[Install]
WantedBy=multi-user.target