[Unit]
Description="HashiCorp Vault Agent"
Documentation=https://www.vaultproject.io/docs/agent
Requires=network-online.target
After=network-online.target

[Service]
Environment="VAULT_ADDR=https://vault.online.ntnu.no:8200"
Restart=on-failure
KillSignal=SIGINT
ExecStart=/usr/bin/vault agent -config /etc/vault_agent.d/vault_agent.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target