[Unit]
Description="HashiCorp Consul Template"
Documentation=https://github.com/hashicorp/consul-template
Requires=network-online.target
After=network-online.target

[Service]
Environment="VAULT_ADDR=https://vault.online.ntnu.no:8200"
Restart=on-failure
KillSignal=SIGINT
ExecStart=/usr/bin/consul_template_entrypoint.sh
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
User=root
Group=root
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target