[Unit]
Description="HashiCorp Consul Template"
Documentation=https://github.com/hashicorp/consul-template
Requires=network-online.target
After=network-online.target

[Service]
Environment="VAULT_ADDR=https://vault.online.ntnu.no:8200"
KillSignal=SIGKILL
ExecStart=/usr/bin/consul_template_entrypoint.sh
ExecReload=/bin/kill --signal KILL $MAINPID
KillMode=control-group
User=root
Group=root
LimitNOFILE=65536
Restart=always
RestartSec=3
StartLimitInterval=5
StartLimitBurst=10

[Install]
WantedBy=multi-user.target