#jinja2:variable_start_string:'[%', variable_end_string:'%]', trim_blocks: False
{{ with secret "pki_int/issue/consul-server" "common_name=server.[% consul_datacenter %].consul" "ttl=24h" "alt_names=localhost,*.consul.online.ntnu.no,consul.online.ntnu.no" "ip_sans=127.0.0.1"}}
{{- .Data.private_key -}}
{{ end }}