template {
  source      = "/etc/consul.d/ca.crt.tpl"
  destination = "/etc/consul.d/ca.crt"
  command     = "consul reload"
}

{% if consul_server %}
template {
  source      = "/etc/consul.d/agent.crt.tpl"
  destination = "/etc/consul.d/agent.crt"
  command     = "consul reload"
}

template {
  source      = "/etc/consul.d/agent.key.tpl"
  destination = "/etc/consul.d/agent.key"
  command     = "consul reload"
}

template {
  source      = "/etc/consul.d/agent.key.tpl"
  destination = "/etc/consul.d/agent.key"
  command     = "consul reload"
}

template {
  source      = "/etc/consul.d/gossip.key.tpl"
  destination = "/opt/consul/gossip/gossip.key"
  command     = "/etc/consul.d/rotate_consul_key.sh"
}
 {% endif %}